<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
        <div class="parent">
            <div class="child">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a deserunt alias sit, enim dolor iusto optio dolorum vero vitae culpa labore? Tempora, enim magnam excepturi reprehenderit at omnis beatae.</p>

            </div>
            <div class="child">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas porro eum perspiciatis facere, aliquam illo doloribus nemo consectetur mollitia, amet est inventore beatae in? Natus impedit esse laborum perspiciatis doloreLorem ipsum dolor sit amet, consectetur adipisicing elit. Quas porro eum perspiciatis facere, aliquam illo doloribus nemo consectetur mollitia, amet est inventore beatae in? Natus impedit esse laborum perspiciatis dolore.</p>
            </div>
            <div class="child">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas porro eum perspiciatis facere, aliquam illo doloribus nemo consectetur mollitia, amet est inventore beatae in? Natus impedit esse laborum perspiciatis doloreLorem ipsum dolor sit amet, consectetur adipisicing elit. Quas porro eum perspiciatis facere, aliquam illo doloribus nemo consectetur mollitia, amet est inventore beatae in? Natus impedit esse laborum perspiciatis doloreLorem ipsum dolor sit amet, consectetur adipisicing elit. Quas porro eum perspiciatis facere, aliquam illo doloribus nemo consectetur mollitia, amet est inventore beatae in? Natus impedit esse laborum perspiciatis dolore</p>
            </div>
            
        
    </div>


    </div>
    <table>
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>email</th>
                <th>phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>hari</td>
                <td>haran</td>
                <td>haran@</td>
                <td>9999</td>
            </tr>
        </tbody>
    </table>
</body>
</html>